<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
   <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>

<body>
  <br>
  <div class="title">
    <h1 style="text-align:center">Planes a tu medida. ¡Elige el mejor para ti!</h1> 
    &nbsp;
  </div>
    <!--Switch-------->
    <label class="switch">
      <input type="checkbox">
      <span class="slider round"></span>
    </label>

    <!---------------->
    
    <!-- pricing table  -->
    <section id="pricing-tables">
        <div class="container">
            <div class="col-md-3 col-sm-6 col-xs-12 color-1">
                <div class="single-table text-center">
                  <div class="plan-header ">
                     <label>basic </label>
                     <span class="per-mo">
                      <span>Per user    </span>
                      <span>Per month</span>
                     </span>
                       <h1 class="plan-price monthly">$12 </h1> 
                      <!--- <span class="plan-price annual">10</span>-->
                       <h3 class="tagline " style="color: #306625;">$120 / 10 users </h3>
                     <p class="tagline2 "style="text-align:justify" > No credit card required</p>
                     <ul class="text-center texto ">
                      <li>10 Free PSD files</li>
                      <li>10 Free PSD files</li>
                      <li>10 Free PSD files</li>
                    </ul>
                      <a href="#" class="plan-submit hvr-bubble-float-right text-center" >Start Free Trial</a>
                   </div>
                   
                </div>
               
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 color-top">
                <div class="single-table text-center">
                    <div class="plan-header">
                        <label style="background-color: aqua;" >Advanced</label>
                        <span class=" per-mo-top">
                          <span>Per user    </span>
                          <span>Per month</span>
                      </span>
                          <h1 class="plan-price">$18 </h1> 
                          <h3 class="tagline">$200 / 20 users </h3>
                          <p class="tagline-top"style="text-align:justify" > No credit card required</p>
                          <ul class="text-center texto-top ">
                            <li>10 Free PSD files</li>
                            <li>10 Free PSD files</li>
                            <li>10 Free PSD files</li>
                          </ul>
                           <a href="#" class="plan-submit-top hvr-bubble-float-right text-center ">Start Free Trial</a>
                           
                        
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12 color-3">
                <div class="single-table text-center">
                    <div class="plan-header">
                      <label>   Fully </label>
                      <span class="per-mo">
                        <span>Per user    </span>
                        <span>Per month</span>
                    </span>
                        <h1 class="plan-price">$25 </h1> 
                        <h3 class="tagline" style="color: #da7f47;">$1250 / 50 users </h3>
                        <p class="tagline2 "style="text-align:justify" > No credit card required</p>
                        <ul class="text-center texto ">
                          <li>10 Free PSD files</li>
                          <li>10 Free PSD files</li>
                          <li>10 Free PSD files</li>
                        </ul>
                        <a href="#" class="plan-submit hvr-bubble-float-right text-center" >Start Free Trial</a>
                  </div> 
                  
                </div>
            </div>
           <!--
            <div class="col-md-3 col-sm-6 col-xs-12 color-4">
                <div class="single-table text-center">
                    <div class="plan-header">
                        <h2>Enterprise</h2>
                        <br> 
                          <h1 class="plan-price">Custom </h1> 
                          <div class="row"><br> </div> 
                          <p class="tagline2 "style="text-align:justify" > No credit card required</p>
                          <p class="texto">For businesses looking for an integrated 
                              workflow that connects to customers,
                              vendors,and partners 10 Free PSD files</p>
                          <a href="#" class="plan-submit hvr-bubble-float-right text-center" >Start Free Trial</a>
                    </div>
                </div>
            </div>-->
        </div>
    </section>

    <!-- end priceing table -->


</body>

</html>